.advertise-left {
    position: relative;
    z-index: 20;
    width: 200px;
    height: 409px;
    overflow: hidden;
    border-radius: 20px;
}

.advertise-left__phone-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 50;
    border-radius: 20px;
}

.advertise-left__carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    border-radius: 20px;
}

.advertise-left__slider-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.advertise-left__slider-tray {
    width: 400%;
    height: 100%;
    display: flex;
}

.advertise-left__slide {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.advertise-left__slide-inner {
    width: 100%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40px;
}

.advertise-left__slide-img {
    width: 100%;
    height: 99%;
    object-fit: contain;
    border-radius: 40px;
    transform: translateZ(0);
}

.slide-0 {
    transform: translateX(0%);
}

.slide-1 {
    transform: translateX(-25%);
}

.slide-2 {
    transform: translateX(-50%);
}

.slide-3 {
    transform: translateX(-75%);
}

.advertise-left__slider-tray {
    transition: transform 0.5s ease-in-out;
}