.movieFilter {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    padding-left: 160px;
}

.filterNav {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.filterTitle {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #333;
    margin-right: 20px;
}

.vertical-bar {
    width: 5px;
    height: 24px;
    background-color: #1B61A7;
    margin-right: 10px;
    display: inline-block;
    border-radius: 2px;
}

.filterNav a {
    color: #666;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.filterNav a.active {
    color: #1B61A7;
    font-weight: bold;
}

.filterNav a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 50%;
    background-color: rgb(44, 78, 161);
    border-radius: 1px;
}

.filterNav a:hover {
    color: #1B61A7;
}

.green-text {
    color: rgb(44, 78, 161);
}

.with-icon svg {
    vertical-align: middle;
    color: rgb(44, 78, 161);
}

.moviesSection {
    padding: 20px;
    max-width: 1411px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
    z-index: 1;
}

.alert-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}